.heading{
    margin: 2em 0;
}
.wrapper{
    background-color: #fff;
}
.title{
    color: #777;
}
  
  .search-bar {
    max-width: 500px;
    padding-bottom: 50px;
    margin:auto;
  }
  
  .form-control {
    box-shadow: 0 10px 40px 0 #B0C1D9;
  }
  .form-control::placeholder  {
    font-family: FontAwesome;
  }